{#
/**
 * @file
 * Default theme implementation to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 * - hide_tabs: Boolean to conditionally hide primary tabs when admin_toolbar_tools shows local tasks.
 *   Secondary tabs are always shown since they are not displayed in the admin toolbar.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @ingroup templates
 *
 * @see template_preprocess_menu_local_tasks()
 */
#}

{% if (primary and not hide_tabs) or secondary %}
  {{ attach_library('dxpr_theme/drupal-tabs') }}
{% endif %}

{% if primary and not hide_tabs %}
  <div class="dxpr-theme-mini-tabs-wrapper" data-drupal-nav-primary-tabs>
    <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
    <ul class="tabs tabs--primary nav nav-tabs">{{ primary }}</ul>
  </div>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul class="tabs tabs--secondary pagination pagination-sm">{{ secondary }}</ul>
{% endif %}
