{#
/**
 * @file
 *
 * Theme override for "dxpr_builder.media_library" route.
 * Template copied from core/themes/claro/templates/classy/layout/html.html.twig
 * The idea is to remove all theme regions except "content".
 *
 * @see template_preprocess_html()
 */
#}

<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
  <a href="#main-content" class="visually-hidden focusable skip-link">
    {{ 'Skip to main content'|t }}
  </a>
  {{ page }}
  <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
