<div {{ attributes }} class="my-hero__container">
  <h1 class="my-hero__heading">{{ heading }}</h1>
  <p class="my-hero__subheading">{{ subheading }}</p>
  <div class="my-hero__actions">
    <a href="{{ cta1href }}" class="my-hero__cta my-hero__cta--primary">{{ cta1 }}</a>
    <button class="my-hero__cta">{{ cta2 }}</button>
  </div>
</div>
